@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
    background-color: rgb(27, 27, 27);
    color: blanchedalmond;
    font-family: "Poppins", sans-serif;
}

h1{
    justify-content: center;
    display: flex;
}

#matriz{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

table, tr, th{
    width: 500px;
    height: 200px;
}

table, tr, th{
    border: 8px solid rgb(27, 27, 27);
    border-collapse: collapse;
    border-radius: 4px;
}

th{
    cursor: pointer;
}

th, td{
    background-color: blanchedalmond;
    height: 60%;
    width: 30%;
}

.clicado{
    color: rgb(27, 27, 27);
    font-size: 100px;
}

footer{
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}